<div class="home-background">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Welcome to ENERGY-APP</h1>
    <p class="lead">Monitor and manage your energy consumption with ease! Our ENERGY-APP provides real-time analytics to help you track usage, optimize your energy costs, and make informed decisions. With user-friendly controls and alerts, you can effortlessly maintain control over your energy consumption.</p>

    <div class="row justify-content-center my-4">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
<!--          <a href="energy-app/monitor" routerLinkActive="active" class="btn btn-primary btn-lg me-2" role="button">-->
<!--            <i class="fas fa-desktop"></i>&nbsp;Monitor&nbsp;Devices-->
<!--          </a>-->
          <a href="https://github.com/your-repo" class="btn btn-secondary btn-lg" target="_blank" role="button">
            <i class="fab fa-gitlab"></i>&nbsp;GitLab Source Code
          </a>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <h2 class="fw-bold">Features</h2>
      <ul class="list-unstyled">
        <li><i class="fas fa-check-circle"></i> Real-time monitoring of devices</li>
        <li><i class="fas fa-check-circle"></i> Energy usage statistics</li>
        <li><i class="fas fa-check-circle"></i> Notifications and alerts</li>
        <li><i class="fas fa-check-circle"></i> User-friendly interface</li>
      </ul>
    </div>

    <div class="mt-5">
      <h2 class="fw-bold">How It Works</h2>
      <p>Our application connects to your devices, allowing you to track energy consumption in real-time. You can receive alerts for unusual activity, set usage limits, and get insights into your energy usage patterns.</p>
    </div>
  </div>
</div>
