<div class="user-list">
  <ul class="list-unstyled">
    <li
      *ngFor="let user of users; let i = index"
      class="user-item btn d-flex flex-column align-items-start mb-2 position-relative fw-medium"
      [ngClass]="user.nickName === selectedUser?.nickName ? 'selected-item' : user.hasUnreadMessages ? 'unread-item' : ''"
      (click)="selectUser(user)"
    >
      <!-- User bubble and name -->
      <div class="d-flex align-items-center w-100">
        <div class="user-bubble me-3" [ngStyle]="{ 'background-color': getRandomColor(i) }">
          {{ user.fullName[0] }}
        </div>
        <div>
          <span class="user-name" [ngClass]="user.role === 'ADMIN' ? 'text-danger' : 'text-primary'">
            [{{ user.role }}]&nbsp;
          </span>
          <span class="user-name">{{ user.fullName }}</span>
        </div>
      </div>

      <!-- Typing indicator -->
      <div *ngIf="user.status === 'TYPING'" class="typing-indicator mt-1 ps-5">
        <i class="fa fa-spinner fa-spin me-2"></i> Typing...
      </div>

      <!-- Unread messages indicator -->
      <div
        *ngIf="user.hasUnreadMessages && user.nickName !== selectedUser?.nickName"
        class="unread-indicator position-absolute top-50 end-0 translate-middle-y p-1 bg-danger rounded-circle mx-2"
      ></div>
    </li>
  </ul>
</div>
